<h1 id="account-title"><%= title %></h1>
<h2 class="title-flavor">
    Welcome, <span class="user-name"><%= locals.accountData.account_firstname %>!</span>
</h2>

<div class="flash-messages">
    <%- messages() %>
    <% if (errors) { %>
        <ul class="error">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
        </ul>
    <% } %>
</div>

<%# Checks for the new Owner account type. %>
<%# Now retrieves the account_type from the database %>
<div <% if (locals.account_type === "Admin" || locals.account_type === "Employee" || locals.account_type === "Owner") { %>
    class="urls-grid"
    <% } %>>
    <div class="url-container">
        <p class="account-management">Account Information</p>
        <p><a
            class="button account-management" 
            title="Go to update your account details"
            href="/account/details"
            >Visit</a>
        </p>
    </div>
<%# Allows access to the new Owner accoun type. %>
<%# Now retrieves the account_type from the database %>
    <% if (locals.account_type === "Admin" || locals.account_type === "Employee" || locals.account_type === "Owner") { %>
        <div class="url-container">
            <p class="account-management">Inventory Management</p>
            <p><a
                class="button account-management" 
                title="Go to the inventory management page"
                href="/inv/"
                >Visit</a>
            </p>
        </div>
    <% } %>
    <%# Enables the new "Manage Personnel" view only for Admins and the Owner %>
    <% if (locals.account_type === "Admin" || locals.account_type === "Owner") { %>
        <div class="url-container">
            <p class="account-management">Personnel Management</p>
            <p><a
                class="button account-management" 
                title="Go to the personnel management page"
                href="/account/personnel"
                >Visit</a>
            </p>
        </div>
    <% } %>
</div>


<%# Only non-corporate accounts can delete their accounts by their own. Corporate flow integrity measure %>
<% if (locals.account_type == "Client") { %>
    <%# New button to delete the user account. Only accessible to client accounts. %>
    <h2 class="subtitle">Delete Your Account</h2>
    <a href='/account/delete' title='Click to delete your account' class="button delete-button account">Delete Account</a>
<% } %>
