<h1 id="account-title"><%= title %></h1>
<h2 class="title-flavor">
    Welcome, <span class="user-name"><%= locals.accountData.account_firstname %>!</span>
</h2>

<div class="flash-messages">
    <%- messages() %>
    <% if (errors) { %>
        <ul class="error">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
        </ul>
    <% } %>
</div>

<%# Check for the new Owner account type. %>
<div <% if (locals.accountData.account_type === "Admin" || locals.accountData.account_type === "Employee" || locals.accountData.account_type === "Owner") { %>
    class="urls-grid"
    <% } %>>
    <div class="url-container">
        <p class="account-management">Account Information</p>
        <p><a
            class="button account-management" 
            title="Go to update your account details"
            href="/account/details"
            >Visit</a>
        </p>
    </div>
<%# Allows access to the new Owner accoun type. %>
    <% if (locals.accountData.account_type === "Admin" || locals.accountData.account_type === "Employee" || locals.accountData.account_type === "Owner") { %>
        <div class="url-container">
            <p class="account-management">Inventory Management</p>
            <p><a
                class="button account-management" 
                title="Go to the inventory management page"
                href="/inv/"
                >Visit</a>
            </p>
        </div>
    <% } %>
</div>


<%# New button to delete the user account. Only accessible to client accounts.
For now, all account types can delete their own account. %>
<h2 class="subtitle">Delete Your Account</h2>
<a href='/account/delete' title='Click to delete your account' class="button delete-button account">Delete Account</a>

