<h1 id="account-title"><%= title %></h1>
<h2 class="title-flavor">
    Welcome, <span class="user-name"><%= locals.accountData.account_firstname %>!</span>
</h2>

<div class="flash-messages">
    <%- messages() %>
    <% if (errors) { %>
        <ul class="error">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
        </ul>
    <% } %>
</div>

<div <% if (locals.accountData.account_type === "Admin" || locals.accountData.account_type === "Employee") { %>
    class="urls-grid"
    <% } %>>
    <div class="url-container">
        <p class="account-management">Account Information</p>
        <p><a
            class="button account-management" 
            title="Go to update your account details"
            href="/account/details"
            >Visit</a>
        </p>
    </div>

    <% if (locals.accountData.account_type === "Admin" || locals.accountData.account_type === "Employee") { %>
        <div class="url-container">
            <p class="account-management">Inventory Management</p>
            <p><a
                class="button account-management" 
                title="Go to the inventory management page"
                href="/inv/"
                >Visit</a>
            </p>
        </div>
    <% } %>
</div>

