<h1 id="login-title"><%= title %> </h1>
<div class="flash-messages"><%- messages() %></div>
<form id="login-form" class="submission-form" action="/account/login" method="post">
    <label>
        <span class="label-field-name">Email:</span>
        <input type="email" name="account_email" id="account_email" required placeholder="this-is@myemail.com">
    </label>
    <label>
        <span class="label-field-name">Password:</span>
        <input type="password" name="account_password" id="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" placeholder="sEcur3p@ssw0rd">
    </label>
    <ul class="form-indications">
        <li>All inputs are required</li>
        <li>Passwords must:
            <ul>
                <li>be 12 characters in length, minimum.</li>
                <li>contain at least 1 capital letter.</li>
                <li>contain at least 1 number.</li>
                <li>contain at least 1 special character.</li>
                <li>not contain whitespaces.</li>
            </ul>
        </li>
    </ul>
    <button type="submit" class="button">LOGIN</button>
    <p id="no-account">No account? <a id="registration-link" href="../account/registration">Sign Up</a></p>
</form>