<%- messages() %>
<form id="registration-form" action="/account/registration" method="post">
    <h1 id="registration-title"><%= title %> </h1>
    <label>
        <span class="label-field-name">First Name:</span>
        <input type="text" name="account_firstname" id="account_firstname" required placeholder="Guy">
    </label>
    <label>
        <span class="label-field-name">Last Name:</span>
        <input type="text" name="account_lastname" id="account_lastname" required placeholder="A. Good">
    </label>
    <label>
        <span class="label-field-name">Email Address:</span>
        <input type="email" name="account_email" id="account_email" required placeholder="a.goodguy@yes.iam">
    </label>
    <label>
        <span class="label-field-name">Password:</span>
        <input type="password" name="account_password" id="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required placeholder="sEcur3p@ssw0rd">
    </label>
    <button type="submit">Register</button>
    <ul class="form-indications">
        <li>All inputs are required</li>
        <li>Passwords must:
            <ul>
                <li>be 12 characters in length, minimum.</li>
                <li>contain at least 1 capital letter.</li>
                <li>contain at least 1 number.</li>
                <li>contain at least 1 special character.</li>
                <li>not contain whitespaces.</li>
            </ul>
        </li>
    </ul>
</form>