/******* Global Variables ***************/
:root {
  --primary-color: rgb(36,35,51);
  --secondary-color: rgb(0,176,211);
  --faded-color: rgba(255, 255, 255, 0.785);
  --invalid-color: rgba(255, 125, 125, 0.64);
  --error-flash-color: rgb(140, 0, 0);
  --warning-flash-color: rgba(172, 115, 0, 0.996);
  --notice-flash-color: rgb(0, 61, 119);
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Noto Serif", serif;
}

/******* Global Styling ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 98%;
  margin: 0 auto;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

main {
  margin-bottom: 2rem;
}

.section {
  margin-bottom: 1.3rem;
}

.bold {
  font-weight: bold;
}

/******* Small Screens Styling ***************/
/* Header */

header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1rem 0.5rem;
}

.siteName a, #tools a {
  text-decoration: none;
  color: var(--primary-color);
  text-wrap: nowrap;
}

.siteName {
  display: block;
}

.siteName a {
  font-size: 2rem;
  font-weight: 700;
}

#tools a {
  font-weight: 700;
  font-size: 1.2rem;
}

/* Navigation Menu */

nav ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  background-color: var(--primary-color);
  color: white;
}

nav ul li {
  list-style: none;
  text-align: center;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: white;
  width: 100%;
  padding: 1rem;
  display: block;
  border: 1px solid var(--primary-color);
}

nav ul li a:hover {
  background-color: white;
  color: var(--primary-color);
}
/* Body */

h1, h2 {
  font-family: var(--secondary-font);
  padding: 1rem 0;
}

h1 {
  font-size: 2rem;
}

.button {
  font-weight: bold;
  padding: 0.5rem;
  width: 50%;
  max-width: 150px;
  margin: 0 auto 0.5rem;
  display: block;
  border: thin solid white;
  border-radius: 3px;
}

#main-button {
  background-color: var(--secondary-color);
  padding: 0.6rem;
  display: inline-block;
  font-weight: 900;
  border: outset 0.1rem white;
}

#main-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.hero-article {
  position: relative;
}

.hero-article img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-article .text-box {
  position: absolute;
  top: 0;
  padding: 0.5rem;
  background-color: var(--faded-color);
}

.text-box p {
  color: var(--secondary-color);
  margin-bottom: 0.3rem;
  font-weight: 700;
}

.text-box strong {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  display: inline-block;
}

.reviews-list {
  display: block;
  list-style-position: inside;
}

.review {
  margin: 0 0 0.5rem 0.4rem;
}

.upgrades-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 0.5rem;
  list-style: none;
}

.upgrade-box {
  height: 8rem;
  margin: 0 auto;
  width: 100%;
}

.upgrade-box figure {
  background-color: var(--secondary-color);
  border: thin solid var(--primary-color);
  width: 100%;
  height: 70%;
  display: grid;
  place-items: center;
}

.upgrade-box img {
  display: block;
  margin: 0 auto;
}

.upgrade-box a {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* Footer */

footer {
  padding: 1rem 0.5rem;
  border-top: thin solid var(--primary-color);
  text-align: center;
}

footer p {
  font-size: 1.1rem;
}

/*Classification Grid Styling*/
h1#classification-title {
  text-align: center;
}

#inv-display {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem 0;
  place-items: center;
}

#inv-display li {
  width: 90%;
  list-style: none;
  max-width: 300px;
  border: 2px solid black;
  padding: 0.5rem;
}

#inv-display li img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

#inv-display li > a {
  margin: 0 0 1rem;
}

#inv-display .namePrice{
  display: grid;
  align-content: end;
}

#inv-display .namePrice a {
  color: var(--primary-color);
  display: block;
  text-align: center;
}

#inv-display .namePrice span {
  font-weight: bold;
  text-align: center;
  display: block;
}

/*Vehicle Details Styling*/
h1#details-title {
  text-align: center;
}

#inv-details-body{
  width: 90%;
  margin: 0 auto;
}

#inv-details-body .vehicle-image.main {
  width: 100%;
  display: block;
  margin: 0 auto;
}

#inv-details-body .vehicle-description {
  padding: 0 0.5rem;
  width: 95%;
  margin: 0 auto 1rem;
}

#inv-details-body .vehicle-description h2{
  padding-bottom: 0;
  text-align: center;
}

#inv-details-body .vehicle-description h3 {
  text-align: center;
  padding-bottom: 0.2rem;
  margin: 0 auto 0.8rem;
  border-bottom: thin solid var(--primary-color);
  font-size: 1.5rem;
}

#inv-details-body .vehicle-description .data {
  margin-bottom: 1rem;
}

#inv-details-body .vehicle-description .data p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem 0.5rem;
}

#inv-details-body .vehicle-description .data span.bold {
  justify-self: end;
}

#inv-details-body .vehicle-description .data span.content {
  justify-self: start;
}

.vehicle-description .description-text {
  margin: 0 auto;
  width: 75%;
}

/*TITLES STYLING*/

h1#login-title, 
#registration-title,
#add-inventory-title,
#add-class-title,
#manage-title,
.title-flavor {
  text-align: center;
}

.title-flavor {
  padding: 0;
  margin-bottom: 1rem;
}

/*FLASH MESSAGE STYLING*/

.flash-messages {
  margin: 0 auto;
  width: 80%;
  max-width: 300px;
}

.flash-messages .error {
  color: var(--error-flash-color);
}

.flash-messages .warning {
  color: var(--warning-flash-color);
}

.flash-messages .notice {
  color: var(--notice-flash-color);
}

/*Login and Registration Forms Styling*/

.submission-form {
  width: 90%;
  max-width: 400px;
  padding: 2rem 1rem 1rem;
  margin: 2rem auto;
  background-color: var(--primary-color);
  color: white;
  border-radius: 6px;
}

.submission-form label,
.submission-form .selection  {
  margin-bottom: 1rem;
  display: block;
}

.submission-form #label-field-name, 
.submission-form input,
.submission-form textarea,
.submission-form select {
  display: block;
}

.submission-form input:required:invalid,
.submission-form input:focus:invalid,
.submission-form textarea:required:invalid,
.submission-form textarea:focus:invalid, 
.submission-form select:required:invalid,
.submission-form select:focus:invalid{
  background-color: var(--invalid-color);
}

.submission-form select:required:invalid,
.submission-form select:focus:invalid{
  color: rgba(255, 255, 255, 0.605);
}

.submission-form select option {
  background-color: white;
  color: black;
}

.submission-form input::placeholder,
.submission-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.605);
}

.submission-form input,
.submission-form select,
.submission-form textarea {
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  width: 100%;
}

#login-form #no-account {
  text-align: center;
}

#no-account #registration-link {
  color: white;
}

.form-indications {
  width: 80%;
  margin: 1rem auto;
  font-size: 0.7rem;
}

.form-indications ul {
  margin-left: 1rem;
}


/*Error Styling*/
h1#error-title {
  font-size: 5rem;
  text-align: center;
  padding-bottom: 0;
}

#error-image {
  display: block;
  width: 25%;
  margin: -1rem auto 2rem;
}

#error-message {
  text-align: center;
  font-weight: bold;
  margin: 0 auto 0.5rem;
}

#errFlavor {
  text-align: center;
  font-size: 0.5rem;
}

/*MANAGEMENT PAGE STYLING*/

#management-adding-grid {
  display: grid;
  gap: 2rem 0;
  margin: 4rem auto;
}

#management-adding-grid .url-container {
  background-color: var(--primary-color);
  text-align: center;
  padding: 2.5rem;
  color: white;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 5px;
}

.url-container p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.url-container .button {
  text-decoration: none;
  color: var(--primary-color);
  background-color: white;
}

.url-container .button:hover {
  background-color: var(--primary-color);
  color: white;
}


/******* Large Screens Styling ***************/
@media screen and (min-width: 700px) {
  /* Header */
  header {
    display: grid;
    grid-template-columns: 6fr 1fr;
  }

  .siteName a {
    font-size: 2.5rem;
  }
  /* Navigation Menu */

  nav ul{
    flex-wrap: nowrap;
    font-size: 0.8rem;
  }

  /* Body */
  html {
    padding: 2% 8%;
    background-image: url("/images/site/small_check.jpg");
  }

  .button:hover {
    background-color: var(--primary-color);
    color: white;
  }

  body {
    padding: 0.8rem;
    background-color: white;
    border: 0.2rem solid var(--secondary-color);
    border-radius: 5px;
  }

  h1 {
    font-size: 3rem;
  }

  .text-box {
    left: 5%;
  }

  .text-box p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .text-box strong {
    font-size: 2rem;
  }

  #main-button {
    font-size: 1.3rem;
    padding: 0.8rem 2.2rem;
  }

  .car-details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 1.2rem;
  }

  .car-reviews {
    grid-column: 2 / 3;
    width: 95%;
  }

  .review {
    margin-bottom: 1.2rem;
    font-weight: 600;
  }

  .upgrades-roster {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

  }

  h2 {
    margin-bottom: 2rem;
  }

  /* Footer */

  /*Classification Grid Styling*/

  h1#classification-title {
    padding: 2rem;
  }

  #inv-display {
    grid-template-columns: 1fr 1fr;
    gap: 1rem 0.5rem;
  }

  #inv-display li {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #inv-display li img {
    margin-bottom: 0;
  }

  #inv-display li h2 {
    margin-bottom: 0;
    font-size: 1.1rem;
  }

  #inv-display li > a {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #inv-display .namePrice {
    flex-grow: 1;
  }

  /*Vehicle Details Styling*/

  #inv-details-body{
    max-width: 620px;
    border: thin solid var(--primary-color);
    border-radius: 5px;
    padding: 0.5rem;
  }

  /*Error Styling*/

  h1#error-title {
    font-size: 8rem;
    padding: 3rem 0 0;
  }

  #error-image {
    margin-top: -2.2rem;
  }

  #error-message {
    font-size: 1.5rem;
    width: 60%;
  }

  /*MANAGEMENT PAGE STYLING*/

  #management-adding-grid {
    gap: 0 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .url-container .button{
    width: 90%;
  }
}

/*LARGER screens*/
@media screen and (min-width: 1000px) {
  /*Classification Grid Styling*/
  

  #inv-display {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*Vehicle Details*/
  #inv-details-body{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 850px;
  }

  .vehicle-description .description-text{
    padding: 0;
  }

  #inv-details-body .vehicle-image.main {
    display: grid;
    align-self: center;
    max-height: 300px;
    width: auto;
  }


  /*Error Styling*/
  h1#error-title {
    font-size: 10rem;
  }

  #error-image {
    max-width: 250px;
    margin-top: -2rem;
  }
}