/******* Global Variables ***************/
:root {
  --primary-color: rgb(36,35,51);
  --secondary-color: rgb(0,176,211);
  --faded-color: rgba(255, 255, 255, 0.785);
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Noto Serif", serif;
}

/******* Global Styling ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 98%;
  margin: 0 auto;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

main {
  margin-bottom: 2rem;
}

.section {
  margin-bottom: 1.3rem;
}

.bold {
  font-weight: bold;
}

/******* Small Screens Styling ***************/
/* Header */

header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1rem 0.5rem;
}

.siteName a, #tools a {
  text-decoration: none;
  color: var(--primary-color);
  text-wrap: nowrap;
}

.siteName {
  display: block;
}

.siteName a {
  font-size: 2.5rem;
  font-weight: 700;
}

#tools a {
  font-weight: 700;
  font-size: 1.2rem;
}

/* Navigation Menu */

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  background-color: var(--primary-color);
  color: white;
}

nav ul li {
  list-style: none;
  text-align: center;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: white;
  width: 100%;
  padding: 1rem;
  display: block;
  border: 1px solid var(--primary-color);
}

nav ul li a:hover {
  background-color: white;
  color: var(--primary-color);
}
/* Body */

h1, h2 {
  font-family: var(--secondary-font);
  padding: 1rem 0;
}

h1 {
  font-size: 2rem;
}

.button {
  background-color: var(--secondary-color);
  padding: 0.6rem;
  display: inline-block;
  font-weight: 900;
  border: outset 0.1rem white;
}

.hero-article {
  position: relative;
}

.hero-article img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-article .text-box {
  position: absolute;
  top: 0;
  padding: 0.5rem;
  background-color: var(--faded-color);
}

.text-box p {
  color: var(--secondary-color);
  margin-bottom: 0.3rem;
  font-weight: 700;
}

.text-box strong {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  display: inline-block;
}

.reviews-list {
  display: block;
  list-style-position: inside;
}

.review {
  margin: 0 0 0.5rem 0.4rem;
}

.upgrades-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 0.5rem;
  list-style: none;
}

.upgrade-box {
  height: 8rem;
  margin: 0 auto;
  width: 100%;
}

.upgrade-box figure {
  background-color: var(--secondary-color);
  border: thin solid var(--primary-color);
  width: 100%;
  height: 70%;
  display: grid;
  place-items: center;
}

.upgrade-box img {
  display: block;
  margin: 0 auto;
}

.upgrade-box a {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* Footer */

footer {
  padding: 1rem 0.5rem;
  border-top: thin solid var(--primary-color);
  text-align: center;
}

footer p {
  font-size: 1.1rem;
}

/*Classification Grid Styling*/
h1#classification-title {
  text-align: center;
}

#inv-display {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem 0;
  place-items: center;
}

#inv-display li {
  width: 90%;
  list-style: none;
  max-width: 300px;
  border: 2px solid black;
  padding: 0.5rem;
}

#inv-display li img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

#inv-display li > a {
  margin: 0 0 1rem;
}

#inv-display .namePrice{
  display: grid;
  align-content: end;
}

#inv-display .namePrice a {
  color: var(--primary-color);
  display: block;
  text-align: center;
}

#inv-display .namePrice span {
  font-weight: bold;
  text-align: center;
  display: block;
}

/*Vehicle Details Styling*/
h1#details-title {
  text-align: center;
}

#inv-details-body{
  width: 90%;
  margin: 0 auto;
}

#inv-details-body .vehicle-image.main {
  width: 100%;
  display: block;
  margin: 0 auto;
}

#inv-details-body .vehicle-description {
  padding: 0 0.5rem;
  width: 95%;
  margin: 0 auto 1rem;
}

#inv-details-body .vehicle-description h2{
  padding-bottom: 0;
  text-align: center;
}

#inv-details-body .vehicle-description h3 {
  text-align: center;
  padding-bottom: 0.2rem;
  margin: 0 auto 0.8rem;
  border-bottom: thin solid var(--primary-color);
  font-size: 1.5rem;
}

#inv-details-body .vehicle-description .data {
  margin-bottom: 1rem;
}

#inv-details-body .vehicle-description .data p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem 0.5rem;
}

#inv-details-body .vehicle-description .data span.bold {
  justify-self: end;
}

#inv-details-body .vehicle-description .data span.content {
  justify-self: start;
}

.vehicle-description .description-text {
  margin: 0 auto;
  width: 75%;
}

/*Error Styling*/
h1#error-title {
  font-size: 5rem;
  text-align: center;
  padding-bottom: 0;
}

#error-image {
  display: block;
  width: 25%;
  margin: -1rem auto 2rem;
}

#error-message {
  text-align: center;
  font-weight: bold;
  margin: 0 auto 0.5rem;
}

#errFlavor {
  text-align: center;
  font-size: 0.5rem;
}




/******* Large Screens Styling ***************/
@media screen and (min-width: 600px) {
  /* Header */
  header {
    display: grid;
    grid-template-columns: 6fr 1fr;
  }
  /* Navigation Menu */

  /* Body */
  html {
    padding: 2% 8%;
    background-image: url("/images/site/small_check.jpg");
  }

  body {
    padding: 0.8rem;
    background-color: white;
    border: 0.2rem solid var(--secondary-color);
    border-radius: 5px;
  }

  h1 {
    font-size: 3rem;
  }

  .text-box {
    left: 5%;
  }

  .text-box p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .text-box strong {
    font-size: 2rem;
  }

  .button {
    font-size: 1.3rem;
    padding: 0.8rem 2.2rem;
  }

  .car-details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 1.2rem;
  }

  .car-reviews {
    grid-column: 2 / 3;
    width: 95%;
  }

  .review {
    margin-bottom: 1.2rem;
    font-weight: 600;
  }

  .upgrades-roster {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

  }

  h2 {
    margin-bottom: 2rem;
  }

  /* Footer */

  /*Classification Grid Styling*/

  h1#classification-title {
    padding: 2rem;
  }

  #inv-display {
    grid-template-columns: 1fr 1fr;
    gap: 1rem 0.5rem;
  }

  #inv-display li {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #inv-display li img {
    margin-bottom: 0;
  }

  #inv-display li h2 {
    margin-bottom: 0;
    font-size: 1.1rem;
  }

  #inv-display li > a {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #inv-display .namePrice {
    flex-grow: 1;
  }

  /*Vehicle Details Styling*/

  #inv-details-body{
    max-width: 620px;
    border: thin solid var(--primary-color);
    border-radius: 5px;
    padding: 0.5rem;
  }

  /*Error Styling*/

  h1#error-title {
    font-size: 8rem;
    padding: 3rem 0 0;
  }

  #error-image {
    margin-top: -2.2rem;
  }

  #error-message {
    font-size: 1.5rem;
    width: 60%;
  }
}

/*LARGER screens*/
@media screen and (min-width: 1000px) {
  /*Classification Grid Styling*/
  #inv-display {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*Error Styling*/
  h1#error-title {
    font-size: 15rem;
  }

  #error-image {
    max-width: 250px;
    margin-top: -4rem;
  }
}