<h1 id="manage-title"><%= title %> </h1>
<h2 class="title-flavor">Please, select the type of entry you want to manage.</h2>

<div class="flash-messages"><%- messages() %></div>

<div id="management-grid">
    <div class="url-container">
        <p>Manage Classification Entries</p>
        <a class="button" href="/inv/management/classification">MANAGE</a>
    </div>
    <div class="url-container">
        <p>Manage Inventory Entries</p>
        <a class="button" href="/inv/management/inventory">MANAGE</a>
    </div>
</div>