<h1 id="error-title"> <%= title %> </h1>
<img id="error-image" src="/images/site/car-crash.svg">
<p id="error-message"> <%= message %> </p> <%# Intentionally smaller and difficult to read. A touch of humor%>
<p id="errFlavor"> <%= errFlavor %> </p>